{% extends 'index.html' %}
{% load static %}

{% block title %}
<title>Novena | Forget Username</title>
{% endblock %}

{% block home %}
<li><a href="/">Home</a></li>
{% endblock %}

{% block body %}
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option spad set-bg" data-setbg="{% static 'img/breadcrumb-bg.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Forget Username</h2>
                    <div class="breadcrumb__links">
                        <a href="/">Home</a>
                        <a href="/login_register/">Login</a>
                        <span>Forget Username</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<div class="authen">
    <div class="containers">
        <input type="checkbox">
        <div class="covers">
            <div class="front">
                <img src="{% static 'img/blood.jpg' %}" alt="">
                <div class="text">
                    <span class="text-1">Donate Blood <br> Saves Lives</span>
                    <span class="text-2">One bag of blood can bring back one from the dead</span>
                </div>
            </div>
        </div>
        <div class="forms">
            <div class="form-content">
                <div class="signup-form">
                </div>
                <div class="login-form">
                    <div class="title">Forget Username</div>
                    {% for i in messages %}
                    <div class="alert alert-danger" role="alert">
                        {{i}}
                    </div>
                    {% endfor %}
                    <form action=" " method="post">
                        {% csrf_token %}
                        <div class="input-boxes">
                            <div class="input-box">
                                <i class="fa fa-user"></i>
                                <input name="username" type="text" placeholder="Enter your Username"
                                    value="">
                            </div>
                            <div class="button input-box">
                                <input type="submit" name="submit" value="Submit">
                            </div>
                            <div class="text sign-up-text">Remember your Password? <a style="color: #5b13b9" href="/login_register/">Login now</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}