{% extends 'index.html' %}
{% load static %}

{% block title %}
<title>Novena | Withdrawn Amount</title>
{% endblock %}

{% block body %}
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option spad set-bg" data-setbg="{% static 'img/breadcrumb-bg.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Withdrawn Amount</h2>
                    <div class="breadcrumb__links">
                        <a href="/">Home</a>
                        <a style="color: #13a2b7;">Rewards</a>
                        <span>Withdrawn Amount</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<div class="class pt-5" style="background: #bfb9c8fc;">
    <div class="authen">
        <div class="containers">
            <input type="checkbox" id="flip">
            <div class="covers">
                <div class="front">
                    <img src="{% static 'img/blood.jpg' %}" alt="">
                    <div class="text">
                        <span class="text-1">Donate Blood <br> Saves Lives</span>
                        <span class="text-2">One bag of blood can bring back one from the dead</span>
                    </div>
                </div>
            </div>
            <div class="forms">
                <div class="form-content">
                    <div class="signup-form">
                    </div>
                    <div class="login-form">
                        <div class="title">Withdrawn Amount</div>
                        {% for i in messages %}
                        <div class="alert alert-success" role="alert">
                            {{i}}
                        </div>
                        {% endfor %}
                        <form action=" " method="post">
                            {% csrf_token %}
                            <div class="input-boxes">
                                <div class="input-box">
                                    <i class="fa fa-user"></i>
                                    <input name="name" type="text" placeholder="Enter your Name"
                                        value="{{Userdonor.firstname}} {{Userdonor.lastname}}">
                                </div>
                                <div class="input-box">
                                    <i class="fa fa-money"></i>
                                    <input name="amount" type="number" placeholder="Enter Amount"
                                        value="">
                                </div>
                                <div class="input-box">
                                    <i class="fa fa-cc-mastercard"></i>
                                    <input name="upi" type="text" placeholder="Enter UPI"
                                        value="">
                                </div>
                                <div class="input-box">
                                    <i class="fa fa-phone"></i>
                                    <input name="phone" type="text" placeholder="Enter Phone Number"
                                        value="">
                                </div>
                                <div class="input-box">
                                    <i class="fa fa-envelope"></i>
                                    <input name="email" type="email" placeholder="Enter Your Email"
                                        value="">
                                </div>
                                <div class="button input-box">
                                    <input type="submit" name="donate" value="Withdrawn Amount">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}